@font-face {
  font-family: "Arial Black";
  src: url('/src/assets/fonts/Arial-Black.ttf');
}
@font-face {
  font-family: "Century Gothic";
  src: url('/src/assets/fonts/Century-Gothic.ttf');
  font-weight: normal;
}
@font-face {
  font-family: "Century Gothic";
  src: url('/src/assets/fonts/Century-Gothic-Bold.ttf');
  font-weight: bold;
}
*, *::before, *::after {
  box-sizing: border-box;
}
html,body {
  min-height: 100vh;
}

body{
  background: linear-gradient(90deg, rgba(203,201,230,1) 0%, rgba(255,255,255,1) 50%, rgba(176,223,229,1) 100%);
  margin: 0;
  font-family: "Century Gothic",serif;
  overflow-x: hidden;
  overflow-y: auto;
}

button{
  font-family: "Century Gothic", serif;
  font-weight: bold;
}



.main{
  padding-top: 1rem;
  padding-bottom: 1rem;
  top: 0;
  left: 0;
  right: 0;
}

.container-justify{
  display: flex;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
}
.container-grid {
  display: grid;
  grid-area: container-grid;
  gap: 2rem;
}
.container-grid > h1 {
  font-family: "Arial Black", serif;
  line-height: 1.1;
  font-size: 3vmax;
  margin: 0;
  color: #3C394E;
}
.container-grid > p {
  font-size: 1.5vmax;
  margin: 0;
}
.container-img{
  display: flex;
  grid-area: container-img;
}
.container-flotante {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  grid-area: container-flotante;
}
.cards {
  background-color: white;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.cards > img {
  width: 4rem;
}
.cards > h2 {
  margin: 0;
  font-weight: bold;
  font-size: 1.8rem;
}
.cards > p {
  font-size: 1.05rem;
}
.list {
  display: grid;
  margin: 0;
  padding: 0;
}
.list > div {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;
}
.list > div > img {
  width: 1.8vmax;
}
.list > div > p {
  text-align: left;
  font-size: 1.1vmax;
}
.btn-card {
  width: 60%;
  border-radius: 10px;
  padding: 0.8rem 2rem;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #0044F1;
}








.container-secundary,.container-primary {
  display: flex;
  justify-content: left;
}

.secundary {
  text-align: center;
  background: #DCE6ff;
  padding: 8px 1.5vmax;
  border-radius: 10px;
  color: #3C394E;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.secundary-title {
  background: #669FF3;
  text-align: center;
  padding: 6px 1.5vmax;
  border-radius: 10px;
  color: white;
  font-size: 1.2vmax;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.secundary-principal {
  text-align: center;
  width: 15vmax;
  padding: 10px;
  color: #3C394E;
  font-size: 16px !important;
  background-color: #DCE6ff;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

}

.primary {
  background: #0044F1;
  padding: 0.4vmax 3vmax;
  border-radius: 10px;
  color: white;
  font-size: 1.2vmax;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

}

a {
  margin-top: 1vmax;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: 1vmax;
  font-family: inherit;
}

a.learn-more {
  width: 15vmax;
  height: 3vmax;
}

a.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3vmax;
  height: 3vmax;
  background: #0044F1;
  border-radius: 10px;
}

a.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

a.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625vmax;
  width: 1.125vmax;
  height: 0.125vmax;
  background: none;
}

a.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29vmax;
  right: 0.0625vmax;
  width: 0.625vmax;
  height: 0.625vmax;
  border-top: 0.125vmax solid #fff;
  border-right: 0.125vmax solid #fff;
  transform: rotate(45deg);
}

a.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75vmax 0;
  margin: 0 0 0 1.85vmax;
  color: #0044F1;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

a:hover .circle {
  width: 100%;
}

a:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1vmax, 0);
}

a:hover .button-text {
  color: #fff;
}

@media (max-width: 768px) {
  html,body {
  }
  .container-secundary,.container-primary {
    justify-content: center;
  }

  .container {
    gap: 1.5rem;
  }
  .container-grid {
    text-align: center;
  }
  .container-grid > h1 {
    font-size: 1.8rem;
  }
  .container-grid > p {
    font-size: 1rem;
  }

  .list > div > img {
    width: 3vmax;
  }
  .list > div > p {
    font-size: 2vmax;
  }

  .primary {
    font-size: 2.2vmax;
  }
  .secundary {
    width: 18vmax;
    font-size: 2.2vmax !important;
  }
  .secundary-principal {
    width: 28vmax;
  }
  .secundary-title {
    width: 18vmax;
    font-size: 2.2vmax !important;
  }

  a {
    font-size: 1.8vmax;
  }

  a.learn-more {
    width: 25vmax;
    height: 6vmax;
  }

  a.learn-more .circle {
    width: 25vmax;
    height: 6vmax;
  }

  a.learn-more .circle .icon.arrow {
    left: 1vmax;
    width: 1.5vmax;
    height: 0.21vmax;
  }

  a.learn-more .circle .icon.arrow::before {
    top: -0.30vmax;
    transform: rotate(45deg);
  }

  a.learn-more .button-text {
    padding: 1.6vmax 0;
    color: white;
    margin: 0 0 0 3vmax;
  }

  a:hover .circle {
    width: 25vmax;
  }

  a:hover .circle .icon.arrow {
    transform: translate(1.5vmax, 0);
  }
}