@font-face {
  font-family: "Arial Black";
  src: url('/src/assets/fonts/Arial-Black.ttf');
}
@font-face {
  font-family: "Century Gothic";
  src: url('/src/assets/fonts/Century-Gothic.ttf');
  font-weight: normal;
}
@font-face {
  font-family: "Century Gothic";
  src: url('/src/assets/fonts/Century-Gothic-Bold.ttf');
  font-weight: bold;
}
body{
  background: linear-gradient(90deg, rgba(203,201,230,1) 0%, rgba(255,255,255,1) 50%, rgba(176,223,229,1) 100%);
  box-sizing: border-box;
  margin: 0;
  font-family: "Century Gothic",serif;
}

button{
  font-family: "Century Gothic", serif;
  font-weight: bold;
}

.container-secundary,.container-primary {
  display: flex;
  justify-content: left;
}

a {
  margin-top: 1vmax;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: 1vmax;
  font-family: inherit;
}

a.learn-more {
  width: 15vmax;
  height: 3vmax;
}

a.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3vmax;
  height: 3vmax;
  background: #0044F1;
  border-radius: 10px;
}

a.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

a.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625vmax;
  width: 1.125vmax;
  height: 0.125vmax;
  background: none;
}

a.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29vmax;
  right: 0.0625vmax;
  width: 0.625vmax;
  height: 0.625vmax;
  border-top: 0.125vmax solid #fff;
  border-right: 0.125vmax solid #fff;
  transform: rotate(45deg);
}

a.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75vmax 0;
  margin: 0 0 0 1.85vmax;
  color: #0044F1;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

a:hover .circle {
  width: 100%;
}

a:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1vmax, 0);
}

a:hover .button-text {
  color: #fff;
}

@media (max-width: 768px) {
  .container-secundary,.container-primary {
    justify-content: center;
  }

  a {
    font-size: 1.8vmax;
  }

  a.learn-more {
    width: 25vmax;
    height: 6vmax;
  }

  a.learn-more .circle {
    width: 25vmax;
    height: 6vmax;
  }

  a.learn-more .circle .icon.arrow {
    left: 1vmax;
    width: 1.5vmax;
    height: 0.21vmax;
  }

  a.learn-more .circle .icon.arrow::before {
    top: -0.29vmax;
    transform: rotate(45deg);
  }

  a.learn-more .button-text {
    padding: 1.6vmax 0;
    color: white;
    margin: 0 0 0 3vmax;
  }

  a:hover .circle {
    width: 25vmax;
  }

  a:hover .circle .icon.arrow {
    transform: translate(1.5vmax, 0);
  }
}